body{
    /*width:90%;*/
    /*max-width: 900px;*/
    padding-top:2px;
    width: 840px;
    height: 820px;
    margin: 0 auto;
}
h1:nth-of-type(1) {
    background-color: #3f8ef9;
    color: white;
    width: 28%;
    float: left;
    text-align: center;
    display: block;
    height: 840px;
    border: 2px solid white;
    padding-top: 40px;
}

article {
    width: 68%;
    float: right;
    border: 2px solid white;
}
span{
    font-weight: bold;
}